*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  text-align: center;
}

h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 2%;
}

.left {
  text-align: right;
  float: left;
  width: 50%;
}

.right {
  text-align: left;
  float: right;
  width: 50%;
}

.networks {
  overflow: hidden;
}

p {
  color: #888;
  font-size: 1em;
  margin: 0;
}

.hi5 {
  color: #ccc;
  font-size: 0.8em;
  margin-top: 10%;
}

a,
a:visited {
  text-decoration: none;
  color: #3790FF;
}

a:hover {
  text-decoration: underline;
}